html, body {margin: 0; height: 100%; overflow: hidden}

body{
    display: flex;
    
    padding-inline: 2vh;
    background-repeat: no-repeat;
    background-size: cover;
   
    background-position-x: center;
    background-position-y: bottom;
    background-image: no-repeat center/100%;
   
    
}
#h1h{
    width: 83vh;
    height: 10vh;
    grid-column: 6/ span 9;
    grid-row-end: 2;
    margin-top: 7vh;
    border: 10px;
    border-color: rgba(255, 255, 255, 0.397);
    border-style: inset;
    border-radius: 4dvh;
    font-size: 50px;
    background-image:-moz-radial-gradient(black,white);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    -webkit-text-fill-color: rgb(58, 226, 43);
}
#app {
  
    
    background-repeat: repeat;
    display: grid;
    grid-template-columns:  10dvh 10dvh 10dvh 10dvh 10dvh 10dvh 10dvh 10dvh 10dvh 10dvh 10dvh 10dvh 10dvh 10dvh 10dvh 10dvh 10dvh 10dvh 10dvh 10dvh 10dvh;
    grid-template-rows: 25vh 20vh 20vh 20vh;
    
}


.character{
    margin-top: 1.5vh;
    border: 1vh;
    border-style: solid;
    border-radius: 2vh;
    border-color: black;
    background-image: radial-gradient(white, gray);
    max-height: 30vh;
    max-width: 35vh;

}
.characterOnClick{
    margin-top: 1.5vh;
    border: 1vh;
    border-style: solid;
    border-radius: 2vh;
    border-color: black;
    background-image: radial-gradient(white, rgb(0, 255, 0));
    max-height: 30vh;
    max-width: 35vh;

}

.hideCharacter{
    display: none;
}
.fightMode{
    max-height: 30vh;
    max-width: 35vh;
    grid-row: 2;
    grid-column: 17;
    margin-top: 10vh;
    margin-left: 0vh;
}
.bowserFight{
    height: 40vh;
    grid-row: 2;
    grid-column: 5;
    margin-top: 28dvh;
    margin-left: 5dvh;
}
#bowser{
    grid-row: 1;
    grid-column: 7/ span 9;
    margin-left: 3vh;
}
#bwmush{
    grid-row: 1;
    grid-column: 8/ span 9;
    margin-left: 5vh;
}

#luigi{
    grid-column: 7;
    grid-row: 2;
    padding-inline: 6vh;
    margin-left: 10vh;
}

#mario{
    grid-column: 5;
    grid-row: 2;
    margin-left: 3vh;
}

#peach{
    grid-column: 10;
    grid-row: 2;
    margin-left: 7vh;
    padding-inline: 2vh;
    
}

#toad{
    grid-row: 1;
    grid-column-end: 12;
    margin-left: 10vh;
    
}

#yoshi{
    grid-column-end:13 ;
    grid-row: 2;
    margin-left: 11vh;
}

#btn{
    height: 6vh;
    width: 10vh;
    grid-column: 9;
    grid-row: 4;
    margin-left: 10vh;
    border-radius: 2vh;
}


#figAt{
    grid-column: 16;
    grid-row: 4;
    width: 20vh;
    height: 5vh;
    margin-left: 3dvw;
    border-radius: 4dvh;
}
#bowAt{
    grid-column: 6 /span 4;
    grid-row: 6;
    width: 20vh;
    height: 5vh;
    border-radius: 3dvh;
}

#countHero{
  font-size: 3dvh;
  margin-right: 10dvh;
  grid-column: 1;
}
#countBowser{
 font-size: 3dvh;
 grid-column: 3;
 
}


#myProgressBowser{
    width: 100%;
    height: 4dvh;
    background-color: #d4d4d4;
    border-radius: 3dvh;
    border-style: groove;
    border-color: black ;
    grid-column: 6/span 3;
    grid-row: 3;
}
#myProgressChamp{
    width: 100%;
    height: 4dvh;
    background-color: #d4d4d4;
    border-radius: 3dvh;
    border-style: groove;
    border-color: black ;
    grid-column: 16/span 3;
    grid-row: 2;
}
#bowserHp{
    width: 100%;
    height: 4dvh;
    background-color: #04ff19;
    text-align: center;
    line-height: 3dvh;
    border-radius: 3dvh;
    
}
#champHp{
    width: 100%;
    height: 4dvh;
    background-color: #04ff19;
    text-align: center;
    line-height: 3dvh;
    border-radius: 3dvh;
    
}

.rock {
    height: 70dvh;
    grid-row:3;
    margin-top: 10dvh;
    grid-column-end: 5;
}

